@import '../../Variables.scss';

.about {
    padding: 60px 0;
    width: 80vw;
    background-color: $bg;
    margin: 0 auto;

    h3 {
        padding-bottom: 22px;
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-top: 120px;
    }

    &_infos {

        a {
            display: block;
            width: 200px;
        }

        .personal_infos {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            margin-bottom: 60px;

            .green {
                color: #5be85b;
            }


            li {
                display: block;
                width: 50%;
                font-size: 21px;

                .title {
                    text-transform: capitalize;
                    opacity: 0.6;
                    font-weight: lighter;
                }

                .desc {
                    margin-left: 15px;
                }
            }
        }
    }

    .experience {

        .exp,
        .edu {
            list-style: none;
            padding: 0;
            width: 45%;

            li {
                height: auto;
                width: 100%;
                position: relative;
                padding-left: 80px;
                margin-bottom: 60px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 20px;
                    bottom: 0;
                    border-left: 2px solid #fff;
                    border-radius: 20px;
                    z-index: 1;
                    opacity: 0.4;
                }

                span {
                    color: #fff;
                    font-size: 17px;
                    padding: 5px 15px;
                    display: inline-block;
                    margin-bottom: 12px;
                    border-radius: 20px;
                    background-color: $bgLight;
                    opacity: 0.8;
                    text-transform: uppercase;
                }

                h5 {
                    font-size: 21px;
                    margin: 7px 0 10px;
                    font-weight: lighter;
                    text-transform: capitalize;
                }

                h4 {
                    font-size: 21px;
                    margin: 7px 0 10px;
                    font-weight: lighter;
                    opacity: 0.6;
                    text-transform: uppercase;
                }
            }

            .icon {
                position: absolute;
                left: 0;
                top: 0;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $orange;
                border-radius: 50%;
                z-index: 10;

                svg {
                    transform: scale(0.5);
                }
            }
        }

        .exp_edu {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 60px;
        }
    }

    // HEXAGON SHAPES LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    .skills_main {
        display: flex;
        --s: 300px;
        /* size  */
        --m: 40px;
        /* margin */
        --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
    }

    .skills_wrapper::before {
        content: "";
        width: calc(var(--s)/2 + var(--m));
        float: left;
        height: 120%;
        shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
                #000 0 var(--f));
    }

    .skills_wrapper {
        font-size: 0;

        .skill {
            background-color: $bgLight;
            width: var(--s);
            margin: var(--m);
            height: calc(var(--s)*1.1547);
            display: inline-block;
            font-size: initial;
            clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
            background: $bgLight;
            margin-bottom: calc(var(--m) - var(--s)*0.2885);
            transition: all 0.3s;

            &:hover {
                transform: scale(1.2) rotateZ(-31deg);

                svg {
                    fill: $orange;
                }
            }

            svg {
                transform: scale(0.5);
                height: 100%;
                width: 100%;
            }
        }

        // HEXAGON SHAPES LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~

        .node {
            fill: green;
        }

        .bootstrap {
            fill: rgb(154, 14, 247);
        }

        .sass {
            fill: rgb(248, 151, 235);
        }

        .js {
            fill: rgb(251, 251, 65);
        }

        .gulp {
            fill: rgb(189, 29, 29);
        }

        .react {
            fill: #61DAFB;
        }

        .wordpress {
            fill: #21759B;
        }
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .about {
        .skills_main {
            --s: 200px;
            /* size  */
            --m: 20px;
            /* margin */
            --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .about {
        &_infos {
            ul {
                li {
                    font-size: 17px !important;
                }
            }
        }

        .skills_main {
            --s: 160px;
            /* size  */
            --m: 20px;
            /* margin */
            --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
        }

        .experience {
            .exp_edu {
                ul {
                    li {
                        padding-left: 60px;

                        h5 {
                            font-size: 19px;
                        }

                        h4 {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .about {
        h3 {
            font-size: 21px;
        }

        &_infos {
            .personal_infos {
                flex-direction: column;

                li {
                    width: 100%;
                }
            }

            ul {
                li {
                    font-size: 17px !important;
                }
            }
        }

        .skills_main {
            --s: 100px;
            /* size  */
            --m: 20px;
            /* margin */
            --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
        }

        .experience {
            .exp_edu {
                ul {
                    li {
                        padding-left: 50px;

                        h5 {
                            font-size: 17px;
                        }

                        h4 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .about {
        h3 {
            font-size: 19px;
            letter-spacing: 0.3rem;
        }

        &_infos {
            .personal_infos {
                flex-direction: column;

                li {
                    width: 100%;
                }
            }

            ul {
                li {
                    font-size: 15px !important;

                    .desc {
                        margin-left: 5px !important;
                        word-wrap: break-word;
                    }
                }
            }
        }

        .skills_main {
            --s: 80px;
            /* size  */
            --m: 10px;
            /* margin */
            --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
        }

        .experience {
            .exp_edu {
                gap: 0;

                .exp {
                    border-bottom: 1px solid $orange;
                }

                .exp,
                .edu {
                    width: 90%;
                }

                flex-direction: column;

                ul {
                    li {
                        padding-left: 50px;

                        h5 {
                            font-size: 17px;
                        }

                        h4 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}